In [55]:
import sklearn as sl
import pandas as pd
import numpy as np

In [56]:
data=pd.read_csv("C:\\Users\\91959\\Desktop\\ml project\\mail_data.csv")

In [57]:
data.head()

  class                                            Message
0   ham  Go until jurong point, crazy.. Available only ...
1   ham                      Ok lar... Joking wif u oni...
2  spam  Free entry in 2 a wkly comp to win FA Cup fina...
3   ham  U dun say so early hor... U c already then say...
4   ham  Nah I don't think he goes to usf, he lives aro...

In [58]:
data['class']=data['class'].map({'ham':0,'spam':1})

In [59]:
data.head()

   class                                            Message
0      0  Go until jurong point, crazy.. Available only ...
1      0                      Ok lar... Joking wif u oni...
2      1  Free entry in 2 a wkly comp to win FA Cup fina...
3      0  U dun say so early hor... U c already then say...
4      0  Nah I don't think he goes to usf, he lives aro...

In [60]:
from sklearn.feature_extraction.text import CountVectorizer

In [61]:
cv=CountVectorizer()

In [62]:
x=data['Message']
y=data['class']

In [63]:
x.shape

(5575,)

In [64]:
y.shape

(5575,)

In [65]:
x=cv.fit_transform(x)

In [66]:
x

<5575x8711 sparse matrix of type '<class 'numpy.int64'>'
	with 74122 stored elements in Compressed Sparse Row format>

In [67]:
from sklearn.model_selection import train_test_split

In [68]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2)

In [69]:
x_train.shape

(4460, 8711)

In [70]:
from sklearn.naive_bayes import MultinomialNB

In [71]:
model=MultinomialNB()

In [72]:
model.fit(x_train,y_train)

MultinomialNB()

In [73]:
result=model.score(x_test,y_test)

In [74]:
result=result*100

In [75]:
result

98.20627802690582

In [76]:
import pickle

In [77]:
pickle.dump(model,open("spam.pkl","wb"))

In [78]:
pickle.dump(cv,open("vectorizer.pkl","wb"))

In [79]:
clf=pickle.load(open("spam.pkl","rb"))

In [80]:
clf

MultinomialNB()

In [102]:
msg=" for 100 dollars shivam is at discounted price gift"
data=[msg]
vecto=cv.transform(data).toarray()
result=model.predict(vecto)
print(result)

[1]